
<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="/list">List</a>
            </li>
            <li>
                <a routerLink="/create">Create</a>
            </li>
            <!-- <li>
                <a [routerLink]="['/employees', 2]">Get Employee With ID 2</a>
            </li> -->
        </ul>
    </nav>
    <div *ngIf="showLoadingIndicator">Loading...</div>
    
    <router-outlet></router-outlet>
</div>