<!-- <h1 *ngIf="dataFromChild">
    {{ dataFromChild?.name + ' ' + dataFromChild?.gender }}
</h1> -->
<!-- 
 EASY COMMUNICATION FROM CHILD TO PARENT
<h1 #h1Variable></h1>

</h1>
<div *ngFor="let employee of employees"> 
   when child component raises event notify, it will pass employee name as the event data, and $event object will recieve that payload  
 <div (click)="h1Variable.innerHTML = childComponent.employee.name + ' ' + childComponent.employee.gender"></div>

  <div (click)="h1Variable.innerHTML = childComponent.getEmployeeNameAndGender()">
    <app-display-employee [employee]="employee" #childComponent>
    </app-display-employee>
  </div>
</div> -->



  <div class="from-group">
    <input type="text" class="form-control" placeholder="Search By Name" [(ngModel)]="searchTerm">
    <br>
  </div>
<!--   
  <div class="from-group">
     <button (click)="changeEmployeeName()" class="btn btn-primary">Change Employee Name</button>
      <br>
      <br>
    </div> -->
  <div *ngFor="let employee of filterEmployees">
    <!-- <div (click)="onClick(employee.id)" class="pointerCursor"> -->
      <!-- this property is from child component [employee] -->
      <!-- the employee in "employee" is from ngfor loop -->
     
      <app-display-employee [employee]="employee" [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)"#childComponent>
      </app-display-employee>
   
  </div>
<!-- 
   To USE PIPES for FILTERING
  <div *ngFor="let employee of employees | employeeFilter:searchTerm">  -->
<!-- 
<a [routerLink]="['/employees']"
   [queryParams]="{'searchTerm':'John','testParam':'testValue'}">List</a>
 -->

<!-- TESTING INPUTS for retrieving only employee also DIFFERENCE between SETTERS(better if you want to keep track of only one property) and NGONCHANGES(better for multiple changes) -->
<!-- <button (click)="nextEmployee()" class="btn btn-primary">
    View Next Employee
   </button>
   <br>
   <br>

   <app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id"></app-display-employee> -->