
<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee();employeeForm.reset()">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">

      <!-- we add the class has-error only if the fullname is invalid -->
      <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">

        <label for="name" class="control-label">Name</label>
      
        <input #name="ngModel" required id="name" [(ngModel)]="employee.name" name="name" type="text" class="form-control">
        <span *ngIf="name.invalid && name.touched" class="help-block">
          Name is required
        </span>
      </div>

      <!-- we add class has-error to div element -->
      <div class="form-group" [class.has-error]="email.invalid">
        <!-- control label ensures that the text turns red when there is error -->
        <label for="email" class="control-label">Email</label>
        <!-- we must export the input field into a template reference variable #email so we can use touched, invalid-->
        <input [required]="contactPreference.value=='email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="email"
          type="text" class="form-control" name="email" [(ngModel)]="employee.email" #email="ngModel">

        <span class="help-block" *ngIf="email.errors?.required">
          Email is required
        </span>
        <span class="help-block" *ngIf="email.errors?.pattern">
          Email is Invalid
        </span>
      </div>




      <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <!-- if you select phone on contact preference, required will return true -->
        <input [required]="contactPreference.value=='phone'" id="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="employee.phoneNumber"
          name="phoneNumber" type="text" class="form-control">
        <span class="help-block" *ngIf="phoneNumber.errors?.required">
          Phone Number is required
        </span>
      </div>


      <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched">
        <label class="control-label">Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input id="contactPreference" #contactPreference="ngModel" required [(ngModel)]="employee.contactPreference" name="contactPreference"
              type="radio" value="email"> Email
          </label>
          <label class="radio-inline">
            <input id="contactPreference" #contactPreference="ngModel" required [(ngModel)]="employee.contactPreference" name="contactPreference"
              type="radio" value="phone"> Phone
          </label>
        </div>
        <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">
          Contact Preference is required
        </span>
        Contact Preference Selected Value : {{ contactPreference.value}}
      </div>

      <div class="form-group" [class.has-error]="gender.invalid && gender.touched">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel" value="male" [(ngModel)]="employee.gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" required #gender="ngModel" value="female" [(ngModel)]="employee.gender"> Female
          </label>
        </div>
        <span class="help-block" *ngIf="gender.invalid && gender.touched">
          Gender is required
        </span>
      </div>


      <div class="form-group"></div>
      <div class="form-control">
        <label class="checkbox-inline control-label">
          <!-- checkbox -->
          <input [(ngModel)]="employee.isActive" name="isActive" type="checkbox" value="isActive"> Is Active
        </label>
      </div>
    </div>

    <div class="form-group" [class.has-error]="department.touched && department.invalid">
      <label for="department" class="control-label">
        <!-- checkbox -->
        Department
      </label>
      <select id="department" appSelectValidator="select" [(ngModel)]="employee.department" name="department" class="form-control"
        #department="ngModel">
        <!-- we use ngValue instead value, so we can use null not as a string -->
        <option value="select">Select Department</option>
       
        <option *ngFor="let dept of departments" [value]="dept.department1">{{dept.department1}}</option>

      </select>
      <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
        Department is required
      </span>
    </div>


    <div class="row">
      <div class="form-group col-md-5">
        <label for="dateOfBirth">Date Of Birth</label>
        <!-- or you can use bsDaterangepicker -->
        <input id="dateOfBirth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" type="text" placement="right" class="form-control"
          bsDatepicker [bsConfig]="datePickerConfig">
      </div>
    </div>

  </div>

  <div class="panel-footer">
    <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
  </div>



</form>
<!-- *************FOR TESTING*************** -->
Angular Generated Form Model : {{employeeForm.value | json}}

<br>
<br> Our Employee Model : {{employee| json}}

<table border=1 style="border-collapse:collapse; font-family:Arial; table-layout: fixed">
  <tr style="background-color:rgb(170, 120, 12); font-weight: bold">
    <td colspan="3" style="padding:3px; white-space:nowrap; width:100%">
      <h4>Full Name Field</h4>
    </td>
  </tr>
  <tr style="background-color:rgb(212, 149, 13); font-weight: bold">
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>touched : {{ name.touched }}</div>
      <div>untouched : {{ name.untouched }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>pristine : {{ name.pristine }}</div>
      <div>dirty : {{ name.dirty }}</div>
    </td>
    <td style="padding:10px; white-space:nowrap; width:33%">
      <div>valid : {{ name.valid }}</div>
      <div>invalid : {{ name.invalid }}</div>
    </td>
  </tr>
</table>

